body {
    background: -moz-linear-gradient(left, #eeff00 0%, #ff0000 50%, #eeff00 100%);
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
  }
.UNO {
    font-family:fantasy;
    transform: rotate(4deg);
    font-weight: bold;
	font-size: 6rem;
	color: rgb(229, 255, 0);
	letter-spacing: 0.1rem;
	text-shadow: 10px 0px 0px rgba(0, 0, 0, 1);
    
}